<div id="buttonbottomPicture"></div>
<div id="speakers">
    <div class="sp"></div>
    <div class="sp"></div>
    <div class="sp"></div>
    <div class="sp"></div>
</div>
</div>
<div id="bigbluebutton"></div>
<div id="barbutton1"></div>
<div id="barbutton2"></div>
<div id="cross">
    <div id="leftcross">
        <div id="leftT"></div>
    </div>
    <div id="topcross">
        <div id="upT"></div>
    </div>
    <div id="rightcross">
        <div id="rightT"></div>
    </div>
    <div id="midcross">
        <div id="midCircle"></div>
    </div>
    <div id="botcross">
        <div id="downT"></div>
    </div>
</div>
</div>
<div id="right">
    <div id="stats">
        <strong>Name:</strong>
        <br/>
        <strong>Type:</strong>
        <br/>
        <strong>Height:</strong>
        <br/>
        <strong>Weight:</strong>
        <br/><br/>
        <strong> </strong><br/>


    </div>
    <div id="blueButtons1">
        <div class="blueButton"></div>
        <div class="blueButton"></div>
        <div class="blueButton"></div>
        <div class="blueButton"></div>
        <div class="blueButton"></div>
    </div>
    <div id="blueButtons2">
        <div class="blueButton">

        </div>
        <div class="blueButton"></div>
        <div class="blueButton"></div>
        <div class="blueButton"></div>
        <div class="blueButton"></div>
    </div>
    <div id="miniButtonGlass4"></div>
    <div id="miniButtonGlass5"></div>
    <div id="barbutton3">

    </div>
    <div id="barbutton4"></div>