<%- include("partials/header") -%>


    <div id="picture">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Pok%C3%A9_Ball_icon.svg" alt="pksprite" height="170"> </div>
    <%- include("partials/middle") -%>
        <div id="stats"><strong>Invalid Pokemon</strong><br/></div>


        <div id="yellowBox1">
            <%- include("search") -%>
        </div>



        <%- include("partials/footer") -%>