<form action="/views/renderdex.ejs" method="POST">

    <input id="pokemonID" type="text" name="pokemonID" placeholder="Pokemon Name" autocomplete="off">
    <button type="submit" id="search">Search</button>
</form>